<div class="container">
  <div class="all">
    <div class="lefter" routerLink="/platos" routerLinkActive="active">
      <div class="text">Platos</div>
    </div>
    <div class="left">
      <div class="text">Calendario</div>
    </div>
    <div class="center" routerLink="/pacientes" routerLinkActive="active">
      <div class="explainer"><span></span></div>
      <div class="text">Pacientes</div>
      </div>
    <div class="right">
      <div class="text">Presupuestos</div>
    </div>
    <div class="righter" routerLink="/login" routerLinkActive="active">
      <div class="text">Salir</div>
    </div>
  </div>
</div>
