<div class="content">
    <div class="login-box">
        <h4>
          <img src="../../assets/img/icon-sin-fondo.png" alt="Logo Nutriama" style="width: 50%;">
        </h4>
        <form>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Usuario</label>
          </div>
          <div class="user-box">
            <input type="password" name="" required="">
            <label>Contraseña</label>
          </div>
          <a href="/inicio">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Iniciar
          </a>
        </form>
      </div>

</div>